<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link rel="stylesheet"  href="assets/style.css">
</head>
<body>
	<%- include('../components/navbar')%>
	<a href="/users/create">Registrasi</a>
	<h1>Daftar User</h1>
	<ul>
		<% if(users.length > 0) { %>
		<% users.forEach(function(user) {%>
		<li><%=user.name. toUpperCase() %></li>
	<% }) %>
	<% } else { %>
		<p>data user kosong.</p>
	<% } %>
	</ul>
	<footer>
		<p>&copy; 2020 kelas.UtinChindySelvira</p>
	</footer>
</body>
</html>
